.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page_item {
  margin: 0 5px;
}

.page_link {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #616283;
  color: #e7e6f7;
  cursor: pointer;
}

.page_item.active .page_link {
  background-color: #6200ea;
  color: #fff;
  border-color: #6200ea;
}

.page_link:hover {
  transform: scale(1.05);
}
